@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__auth/header__auth.css);

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 85px;
    background-color: white;
}